<div class="pt-2">
    <div class="row">
        <div class="col">
            <task-help class=" float-right"></task-help>
        </div>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col">
        <h4>Tareas</h4>
    </div>
    <div class="col">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm table-striped">
        <caption>
            <button class="btn" ng-click="vm.onSiguiente(vm.mappers.previous)" ng-disabled="!vm.mappers.previous">
                &#8592;
            </button>
            <button class="btn" ng-click="vm.onSiguiente(vm.mappers.next)" ng-disabled="!vm.mappers.next">&#8594;
            </button>
            <div class="float-right">
                <label>Página {{ vm.page }} de {{ vm.total }}</label>
            </div>
        </caption>
        <thead>
            <tr>
                <th>Collection</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="periodicTask in vm.periodicTasks.results">
                <td>{{ periodicTask.name }}</td>
            </tr>
        </tbody>
    </table>
</div>