<div id="content" class="colM">

        <h1>Add crontab</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="crontabschedule_form" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="alZ4Qo60bFRO7GOTfBpRu4YQBFmwd7wB18IfJZtfjWP9biwI8zvFZFOXQOoNW7n4">
<div>







  <fieldset class="module aligned ">



        <div class="form-row field-minute">


                <div>


                        <label class="required" for="id_minute">Minute:</label>

                            <input type="text" name="minute" value="*" maxlength="64" class="vTextField" id="id_minute" required="">



                </div>

        </div>

        <div class="form-row field-hour">


                <div>


                        <label class="required" for="id_hour">Hour:</label>

                            <input type="text" name="hour" value="*" maxlength="64" class="vTextField" id="id_hour" required="">



                </div>

        </div>

        <div class="form-row field-day_of_week">


                <div>


                        <label class="required" for="id_day_of_week">Day of week:</label>

                            <input type="text" name="day_of_week" value="*" maxlength="64" class="vTextField" id="id_day_of_week" required="">



                </div>

        </div>

        <div class="form-row field-day_of_month">


                <div>


                        <label class="required" for="id_day_of_month">Day of month:</label>

                            <input type="text" name="day_of_month" value="*" maxlength="64" class="vTextField" id="id_day_of_month" required="">



                </div>

        </div>

        <div class="form-row field-month_of_year">


                <div>


                        <label class="required" for="id_month_of_year">Month of year:</label>

                            <input type="text" name="month_of_year" value="*" maxlength="64" class="vTextField" id="id_month_of_year" required="">



                </div>

        </div>

</fieldset>













<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save">


<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">
</div>



    <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="crontabschedule">
    </script>




<script type="text/javascript" id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>


</div>
</form></div>


        <br class="clear">
    </div>