<!DOCTYPE html>
<html>

    <body>
        <span ng-if=" $ctrl.warning">
        <div class="alert alert-warning">
    {{ $ctrl.warning }}
</div>
                        </span>

            <ul class="project">

        <div class="container-fluid">


                 <div class="input-group searchcontainer  " style="display: inline-block ; width: 75%;">
                     <form  style="
    text-align: center;
    font-size: larger;
">
                        <label class="radio-inline">
                            <input type="radio" ng-model="$ctrl.objectTask.option" value="crontabs" name="optradio" ng-checked="true" >Crontabs
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="$ctrl.objectTask.option" value="intervals" name="optradio">Intervals
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="$ctrl.objectTask.option"  value="ptask" name="optradio">Periodic Task
                        </label>
  <button type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.settask()">Launch</button>

  </form>
                 </div>




                 <div class="input-group searchcontainer  " style="display: inline-block ; width: 75%; height: 300px">
                      <div class="input-group" style="height: 20%">
                                 <input ng-model=$ctrl.objectTask.minute type="number" class="form-control searchtext" style="height: 100%">
                                  <span class="input-group-addon">Minute</span>
                      </div>
                 <div class="input-group" style="height: 20%">
                                 <input ng-model=$ctrl.objectTask.hour size="50" type="number" class="form-control searchtext" style="height: 100%">
                                  <span class="input-group-addon">hour</span>
                      </div>
                     <div class="input-group" style="height: 20%">
                                 <input ng-model=$ctrl.objectTask.day_of_week size="50" type="number" class="form-control searchtext" style="height: 100%">
                                  <span class="input-group-addon">day_of_week</span>
                      </div>
                      <div class="input-group" style="height: 20%">
                                 <input ng-model=$ctrl.objectTask.day_of_month size="50" type="number" class="form-control searchtext" style="height: 100%">
                                  <span class="input-group-addon">day_of_month</span>
                      </div>
                      <div class="input-group" style="height: 20%">
                                 <input ng-model=$ctrl.objectTask.month_of_year size="50" class="searchtext form-control" style="height: 100%">
                                  <span class="input-group-addon">month_of_year</span>
                      </div>

        </div>

            </ul>

              <h3>object = {{$ctrl.objectTask}}</h3><br/>



        </div>
    </body>
</html>