<div class="container-fluid" style="margin-top: 5%">


    <form class="form-inline">

        <div style="width: 100%">
            <div class="input-group searchcontainer" style="display: inline-flex">
                <input ng-model="search" class="w3-input searchtext" placeholder="Palabra por la que filtrar:" required
                       onkeyup="hidediv(event)" style="font-size: medium">


            </div>
            <div class="input-group searchcontainer  " style="display: inline-flex ; width: auto;">

                <input ng-value="$ctrl.currentpagecalls" ng-model=$ctrl.pagecountercalls size="50"
                       class="w3-input searchtext"
                       style="width: 40%" ng-change="$ctrl.changepage($ctrl.pagecountercalls)">
                <h5 style="font-size: medium; margin-right: 20px;"> de {{$ctrl.countcalls }} </h5>

                <a href="#" class="btn btn-primary material-icons" style="margin: 0px; padding: 0px; width: auto"
                   ng-click="$ctrl.prevcall()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                    keyboard_arrow_left</a>

                <a href="#" class="btn btn-primary material-icons" style="margin: 0px; padding: 0px; width: auto"
                   ng-click="$ctrl.nextcall()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                    keyboard_arrow_right</a>


            </div>


        </div>


    </form>


    <ul class="project">

        <div ng-repeat="call in $ctrl.calls  ">
            <a href="/www/c{{ call.id }}" style="display: block">


                <div class="proyectcontainer animate-show-hide">

                    <div ng-repeat="(key, value) in call | custom:search " ng-controller="Ctrl">
            <span ng-if="key =='tituloConvocatoria'">
              <h3>TituloConvocatoria:  <span>{{ call.tituloConvocatoria }} </span></h3>
            </span>

             <span ng-if="key !='tituloConvocatoria'">
                        <h3>{{ key }}:  <span>{{ value }} </span></h3>


                </span>


                    </div>
                </div>
                </span>
            </a>

        </div>
    </ul>


    <script>
        function hidediv(evt) {
            var x;
            x = document.getElementsByClassName("ng-scope")

            for (i = 0; i < x.length; i++) {

                var a = x[i];
                if ((a.innerText == "" || (/^\s+$/.test(a.innerText))) && a.tagName == "DIV") {
                    a.style.display = 'none';
                } else {
                    a.style.display = 'block'
                }
                ;
            }
        }


    </script>

</div>
