<div class="container-fluid" style="margin-top: 5%">


    <div style="margin: 20px; text-align: center; width: 85%" class="card  card-body cardNoHover ">
        <div style="display: inline-flex">
            <input ng-model="search" class="w3-input searchtext" placeholder="Palabra por la que filtrar:" required
                   ng-change="$ctrl.findCall(search)" onkeyup="hidediv(event)" style="width: 50%; font-size: medium">


            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" ng-click="$ctrl.startingcall()"><a class="page-link" href="">First</a></li>
                    <li class="page-item" ng-click="$ctrl.prevcall()"
                        onmouseup=setTimeout(function(){hidediv(null);},50)>
                        <a class="page-link" href="">Prev</a></li>
                    <li class="page-item active"><a class="page-link" href="">{{ $ctrl.currentpagecalls }} /
                        {{ $ctrl.countcalls }}</a></li>

                    <li class="page-item" ng-click="$ctrl.nextcall()"
                        onmouseup=setTimeout(function(){hidediv(null);},50)><a class="page-link" href="">Next</a></li>
                    <li class="page-item" ng-click="$ctrl.lastcall()"><a class="page-link" href="">Last</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="project w3-animate-opacity" style="margin: 20px; width: 85%">

        <div ng-repeat="call in $ctrl.calls  ">
            <div class="card  card-body" style="display: flow-root; margin-bottom: 10px">

                <div ng-click="$ctrl.editCall(call.id)" class="edit">
                    <i class="fa fa-pencil fa-lg"></i></div>

                <a href="/www/#!/c{{ call.id }}" style="display: block; width: 75%">


                    <div ng-repeat="(key, value) in call ">


                        <h3>{{ key }}: <span>{{ value }} </span></h3>


                    </div>
                </a>

            </div>
        </div>
    </div>


    <script>
        function hidediv(evt) {
            var x;
            x = document.getElementsByClassName("ng-scope")

            for (i = 0; i < x.length; i++) {

                var a = x[i];
                if ((a.innerText == "" || (/^\s+$/.test(a.innerText))) && a.tagName == "DIV") {
                    a.style.display = 'none';
                } else {
                    a.style.display = 'block'
                }
                ;
            }
        }


    </script>

</div>
<div class="modal fade" id="editCall" role="dialog">
    <div class="modal-dialog">


        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar la Convocatoria:</h4>
            </div>

            <div class="modal-body ">
                <div style="margin-bottom: 5%" ng-repeat="(key, value) in $ctrl.EditcallObject">

                    <span ng-if="key !='id'">




                            <h3> <span style="width: auto">{{ key }}:</span> <input
                                    class="searchtext w3-input" id="{{ key }}"
                                    style="margin-right: 30%;float: right;width: auto;"
                                    onfocus="this.select();" type="text" value="{{ value }}"> </h3>



                    </span>

                    </span>


                </div>


            </div>


            <div class=" modal-footer">
                <button type="button" ng-click="$ctrl.saveedit()" class="btn btn-default" data-dismiss="modal">Save
                </button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
</div>

