<div class="container-fluid">
    <form class="form-inline">

        <div style="width: 100%">
            <div class="input-group searchcontainer" style="display: inline-flex">
                <input ng-model="search" class="w3-input searchtext" size="50" placeholder=". . .  " required
                       onkeyup="hidediv(event)">

            </div>
            <div class="input-group searchcontainer  " style="display: inline-flex ; width: 20%;">
                <input ng-model=$ctrl.pagecountercalls size="50" class="w3-input searchtext" placeholder="Pág: "
                       style="width: 40%" ng-change="$ctrl.changepage($ctrl.pagecountercalls)" ">
                <h5> {{$ctrl.currentpagecalls}} de {{$ctrl.countcalls }} </h5>

            </div>

            <div class="btn-group btn-group-justified" style="margin-top: 20px">
                <a href="#" class="btn btn-primary material-icons"
                   ng-click="$ctrl.prevcall()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                    keyboard_arrow_left
                </a>
                <a href="#" class="btn btn-primary material-icons"
                   ng-click="$ctrl.nextcall()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                    keyboard_arrow_right</a>

            </div>


        </div>


    </form>
    <ul class="project">

        <div ng-repeat="call in $ctrl.calls  ">
                           <a href="/www/c{{ call._id.$oid }}" style="display: block">


            <div ng-class-odd="'odd'" ng-class-even="'even'">


                <div class="proyectcontainer animate-show-hide">

                    <div ng-repeat="(key, value) in call | custom:search " ng-controller="Ctrl">
  <span ng-if="key!='_id'">
            <span ng-if="key =='tituloConvocatoria'">
              <h3>TituloConvocatoria:  <span>{{ call.tituloConvocatoria }} </span></h3>
            </span>

             <span ng-if="key !='tituloConvocatoria'">
                        <span ng-if="value" !="NaN">
                        <h3>{{ key }}:  <span>{{ value }} </span></h3>
                    </span>


                </span>
  </span>
                    </div>
                </div>
                </span>
            </div>
                               </a>

        </div>
    </ul>


    <script>
        function hidediv(evt) {
            var x;
            x = document.getElementsByClassName("ng-scope")

            for (i = 0; i < x.length; i++) {

                var a = x[i];
                if ((a.innerText == "" || (/^\s+$/.test(a.innerText))) && a.tagName == "DIV") {
                    a.style.display = 'none';
                } else {
                    a.style.display = 'block'
                }
                ;
            }
        }


    </script>

</div>
