<div class="row" style="height: 85%; border-style: none">
    <div class="container-fluid col-sm-11" id="container-fluid"
         style=" margin-top: 2%; margin-bottom: 2%; width: 100%">

        <style>
            .graph {
                margin-left: 1%;
                width: 70%;
            !important;
                height: 85%;
            !important;

                position: relative;

            }
        </style>
        <div id="container" class="graph col-sm-9 "
             style="display: inline-table; width: 55%; height: 85%;">

        </div>


        <div id="sigma-container" class="graph col-sm-8" style="display: inline-table ; "></div>

        <div class="col-sm-3 " id="wordcloud"
             style="display: inline-table;height: fit-content;">
            <div id="nodeinfo" class="nodeinfo">

            </div>
            <div id="nodeinfohover" class="nodeinfo ">
            </div>
        </div>


        <div id="loader" class="loader"
             style="margin-top: 20%; margin-left: 30%; display: none; width: 150px;height: 150px;  border: 12px solid rgba(180, 33, 59, 0.10);border-top: 12px solid rgba(180, 33, 59, 0.80);"></div>


        <div id="projectid" class="col-sm-3" style="display:none; height: fit-content;
    padding: 1%; margin: 1%;">
            <div ng-repeat="(key, value) in Proyecto[0]">
                <h2> {{ key }}:

                    <span>{{ value }} </span>
                </h2>
            </div>
        </div>

    </div>
</div>