<div class="container-fluid row" style="margin-top: 5%">


    <div class="card col-sm-3 " onclick="gotoLocation('project')" style="margin: 1%">

        <div class="card-body">
            <div style="display: flex">
                <h2>Proyectos </h2>


            </div>

            <hr class="style2">
            Muestra todas los de proyectos europeos, nacionales e internacionales.
        </div>

    </div>
    <div class="card  col-sm-3" onclick="gotoLocation('organization')" style="margin: 1%">


        <div class="card-body">
            <div style="display: flex">
                <h2>Organizaciones </h2>

            </div>

            <hr class="style2">
            Muestra todas las organizaciones involucradas, europeas, nacionales e
            internacionales.

        </div>


    </div>
    <div class="card col-sm-3" onclick="gotoLocation('call')" style="margin: 1%">


        <div class="card-body">
            <div style="display: flex">

                <h2>Convocatorias </h2>

            </div>
            <hr class="style2">

            Muestra todas las convocatorias de proyectos europeos, agrupadas por su tipo.
        </div>


    </div>

    <div class="card  col-sm-3" onclick="gotoLocation('maps/orgnum')" style="margin: 1%">


        <div class="card-body">
            <div style="display: flex">

                <h2>Mapas de Calor </h2>

            </div>
            <hr class="style2">

            Muestra mapas de calor con la distribución de organizaciones, proyectos y el porcentage de presupuesto
            subvencionado de los distintos estados Europeos.
        </div>


    </div>

    <div class="card  col-sm-3" onclick="gotoLocation('community/h2020/')" style="margin: 1%">


        <div class="card-body">
            <div style="display: flex">

                <h2>Análisis de H2020 </h2>

            </div>
            <hr class="style2">

            Muestra un análisis basado en redes sociales para ver la relación entre los distintos proyectos Europeos
            (H2020)
        </div>


    </div>

    <div class="card col-sm-3" onclick="gotoLocation('parallels')" style="margin: 1%">


        <div class="card-body">
            <div style="display: flex">

                <h2>Comparación de Datos </h2>

            </div>
            <hr class="style2">
            Permite comparar los distintos proyectos europeos, agrupados por su temática. (permite encontrar patrones,
            país - presupuesto - subvención.)

        </div>


    </div>


</div>


<script>

    function gotoLocation(where) {

        location.href = '/www/#!/' + where

    }

</script>