<div class="row" style="height: 85%; border-style: none">


    <div class="container-fluid col-sm-11" id="container-fluid"
         style=" margin-top: 2%; margin-bottom: 2%; width: 100%">

        <style>
            .graph {
                margin-left: 12%;
                width: 70%;
            !important;
                height: 90%;
            !important;

                position: relative;

            }
        </style>
        <div id="container" class="graph col-sm-9 "
             style="display: inline-table; width: 60%; height: 85%;">

        </div>


    </div>

</div>

<div id="countrymodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p>Se van a abrir el mapa de coordenadas paralelas del país seleccionado </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="recommenderButton " data-dismiss="modal"
                        onclick="call()">Abrir
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var call = function () {
        var data = $('#countrymodal').data('country');
        $('#countrymodal').modal('hide')
        location.href = '#!/parallels/' + data

    }

</script>