<div class="row" style="height: 85%; border-style: none" ;>
    <div class="w3-sidebar w3-bar-block w3-theme-d4 w3-card col-sm-1 "
         style="width:auto; height:auto; border-radius: 3px">
        <h5 class="w3-bar-item">Heat Maps</h5>
        <a id="orgnum" class="w3-bar-item w3-button tablink" href="/www/#!/maps/orgnum"
        > Nº Organizaciones
        </a>
        <a id="proynum" class="w3-bar-item w3-button tablink" href="/www/#!/maps/proynum"
        > Nº Proyectos
        </a>
        <a id="avenum" class="w3-bar-item w3-button tablink" href="/www/#!/maps/avenum"
        > Proyectos Medios
        </a>

        <a id="orgper" class="w3-bar-item w3-button tablink" href="/www/#!/maps/orgper"
        > % Subvencion
        </a>

    </div>


    <div class="container-fluid col-sm-11" id="container-fluid"
         style=" margin-top: 2%; margin-bottom: 2%; width: 100%">

        <style>
            .graph {
                margin-left: 12%;
                width: 60%;
            !important;
                height: 85%;
            !important;

                position: relative;

            }
        </style>
        <div id="container" class="graph col-sm-9 "
             style="display: inline-table; width: 60%; height: 85%;">

        </div>


    </div>

</div>


