<!DOCTYPE html>
<html>

    <body>
        <div class="container-fluid row" ng-if="$ctrl.toShow()">


            <div class="container-fluid col-sm-5" style="margin-top: 5%; margin-left: inherit; display: inline-block;">


                <div class="input-group searchcontainer  " style="display: inline-flex ; width: auto;"
                     ng-controller="LOAD">

                    <div ng-if="$ctrl.Proyecto.length>0">
                        <md-button class="md-raised " style="width: 50%;"
                                   href="/www/#!o{{ $ctrl.Orgs[0].id }}"></a><span style="margin-top: 10%"
                                                                                   class="glyphicon glyphicon-paperclip"
                                                                                   aria-hidden="true"></span>
                        </md-button>

                    </div>

                    </form>
                </div>

                <ul class="project" ng-controller="DEBUG">

                    <div class="proyectcontainer">


                        <h2>Organizacion:</h2>

                        <div ng-repeat="orgs in $ctrl.Orgs">
                            <a href="/www/#!/metric{{ orgs.id }}" style="display: block">

                                <div ng-repeat="(key, value) in orgs  | custom:$ctrl.textsearch"
                                     style="margin-left: 13%">

                                              <span ng-if="isobj(value)== false">

                                                        <span ng-if="value" !="NaN">
                                                            <h3> {{ key }}:

                                                                <span>{{ value }} </span>
                                                            </h3>
                                                        </span>
                                              </span>
                                    <span ng-if="isobj(value)== true">
                                                        <span ng-if="key!='_id'"><h3>{{ key }}:</h3></span>
                                                        <div ng-repeat="(key2,value2) in value "
                                                             style="margin-left: 13%">
                                                            <h3> {{ key2 }}:
                                                                <span>{{ value2 }} </span>
                                                            </h3>
                                                        </div>
                                                    </span>

                                    <span ng-if="$last">
                                        <hr class="style2">
                                        </span>
                                </div>
                            </a>

                        </div>


                    </div>


                </ul>
            </div>
            <div class="container-fluid col-sm-7 " style="margin-top: 5%; margin-left: inherit; display: inline-block;"
                 ng-controller="Chart">

                <div class="row">

                    <div ng-if="$ctrl.Proyecto.length>0" ng-init="$ctrl.loadpieporcentaje()">
                        <h4>Métricas</h4>

                        <div class="porcentajesubvencionado col-sm-6">
                            <h3> % de presupuesto subvencionado:</h3>
                            <canvas id="pie" class="chart chart-pie"
                                    chart-data="$ctrl.datapie" chart-labels="$ctrl.labelspie"
                                    chart-options="optionspie">
                            </canvas>
                        </div>

                        <div class="col-sm-6">
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="$ctrl.databar" chart-options="optionsbar"
                                    chart-series="$ctrl.seriesbar">

                            </canvas>
                        </div>


                    </div>


                </div>


            </div>

        </div>
        <div ng-if="!$ctrl.toShow()" ng-controller="MAPS">
            <div class="w3-sidebar w3-bar-block w3-theme-d4 w3-card"
                 style="width:200px; height: 600px; border-radius: 3px">
                <h5 class="w3-bar-item">Heat Maps</h5>
                <button id="orgnum" class="w3-bar-item w3-button tablink" ng-click="mapObject('orgnum')"
                        onclick="tabcolor('orgnum')"> Nº Organizaciones
                </button>
                <button id="proynum" class="w3-bar-item w3-button tablink" ng-click="mapObject('proynum')"
                        onclick="tabcolor('proynum')"> Nº Proyectos
                </button>
                <button id="avenum" class="w3-bar-item w3-button tablink" ng-click="mapObject('avenum')"
                        onclick="tabcolor('avenum')"> ~ Proyectos
                </button>

                <button id="orgper" class="w3-bar-item w3-button tablink" ng-click="mapObject('orgper')"
                        onclick="tabcolor('orgper')"> % Subvencion
                </button>
            </div>


            <div class="container-fluid" style="margin-top: 5%; margin-bottom: 5%">
                <div id="container" class="col-sm-12"
                     style="position: relative; width: 1100px; height: 700px;"></div>
            </div>


        </div>
    </body>
    !

    <script>
        function tabcolor(id) {

            var i;
            var x = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                x[i].style.background = 'none';
                x[i].style.color = '#ffffff';

            }
            document.getElementById(id).style.background = '#ccc';
            document.getElementById(id).style.color = '#000000';


        }


    </script>
</html>