<div class="container-fluid" style="margin-top: 3%; margin-left: inherit">


    <div ng-controller="DEBUG" class="row">

        <div class="card card-body cardNoHover col-md-5" style="margin-right: 15px">

            <h2 style="margin-left: 3%">Organizacion:</h2>

            <div ng-repeat="orgs in $ctrl.Orgs">

                <div ng-repeat="(key, value) in orgs  | custom:$ctrl.textsearch"
                     style="margin-left: 3%">

                                              <span ng-if="isobj(value)== false">

                                                        <span ng-if="value" !="NaN">
                                                            <h3> {{ key }}:

                                                                <span>{{ value }} </span>
                                                            </h3>
                                                        </span>
                                              </span>
                    <span ng-if="isobj(value)== true">
                                                        <span ng-if="key!='_id'"><h3>{{ key }}:</h3></span>
                                                        <div ng-repeat="(key2,value2) in value "
                                                             style="margin-left: 3%">
                                                            <h3> {{ key2 }}:
                                                                <span>{{ value2 }} </span>
                                                            </h3>
                                                        </div>
                                                    </span>


                </div>


            </div>

        </div>
        <div class="card card-body cardNoHover col-md-5">

            <h2 style="margin-left: 3%">Proyectos relacionados:</h2>
            <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <div ng-repeat="pr in $ctrl.PRelacionados">
                    <a class="pr" href="/www/#!/p{{ pr.id }}" style="display: block; width: 75%; margin-bottom: 3px">
                        - {{ pr.tituloProyecto }}
                    </a>
                </div>


            </div>

        </div>

    </div>
</div>
<div style="margin-top: 1%;"
     ng-controller="Chart">


    <div ng-if="$ctrl.Proyecto.length>0" ng-init="$ctrl.loadcharts()">
        <div class="card">
            <div class="card-header">
                Métricas
            </div>
            <div class="card-body" style="">
                <div class="row">
                    <div class="col-md-4">
                        <h3> % de presupuesto subvencionado:</h3>
                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="$ctrl.datapie" chart-labels="$ctrl.labelspie"
                                chart-options="optionspie">
                        </canvas>
                    </div>

                    <div class="col-md-4">
                        <h3>Distribución de los sectores del País:</h3>

                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="$ctrl.datapolar" chart-labels="$ctrl.labelspolar"
                                chart-options="optionspolar">

                        </canvas>

                    </div>
                    <div class=col-md-4">
                        <h3>Subvencion con respecto al País:</h3>

                        <canvas id="bar" class="chart chart-horizontal-bar"
                                chart-data="$ctrl.databar" chart-options="optionsbar"
                                chart-series="$ctrl.seriesbar">

                        </canvas>
                    </div>
                </div>


            </div>


        </div>


    </div>

</div>


<script>
    function tabcolor(id) {

        var i;
        var x = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            x[i].style.background = 'none';
            x[i].style.color = '#ffffff';

        }
        document.getElementById(id).style.background = '#ccc';
        document.getElementById(id).style.color = '#000000';


    }


</script>
