<!DOCTYPE html>
<html>

    <body>

        <div class="container-fluid" style="margin-top: 5%">


            <form class="form-inline">

                <div style="width: 100%">
                    <div class="input-group searchcontainer" style="display: inline-flex">
                        <input ng-model="search" class="w3-input searchtext" placeholder="Palabra por la que filtrar:"
                               required
                               onkeyup="hidediv(event)" style="font-size: medium">


                    </div>
                    <div class="input-group searchcontainer  " style="display: inline-flex ; width: auto;">

                        <input ng-value="$ctrl.currentpageorganizations" ng-model=$ctrl.currentpageorganizations
                               size="50" class="w3-input searchtext"
                               style="width: 40%" ng-change="$ctrl.changepage($ctrl.pagecounterorganizations)">
                        <h5 style="font-size: medium; margin-right: 20px;"> de {{$ctrl.countorganizations }} </h5>

                        <a href="" class="btn btn-primary material-icons"
                           style="margin: 0px; padding: 0px; width: auto"
                           ng-click="$ctrl.prevorganization()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                            keyboard_arrow_left</a>

                        <a href="" class="btn btn-primary material-icons"
                           style="margin: 0px; padding: 0px; width: auto"
                           ng-click="$ctrl.nextorganization()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                            keyboard_arrow_right</a>


                    </div>


                </div>


            </form>


            <ul class="project">

                <div ng-repeat="organization in $ctrl.organizations ">
                    <a href="/www/#!/o{{ organization.id }}" style="display: block">

                        <div ng-class-odd="'odd'" ng-class-even="'even'">
                                    <span ng-if="organization">
									<div class="proyectcontainer">

										<div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">

                                                        <span ng-if="key!='id'">

                                             <span ng-if="isobj(value)== false">

												<span ng-if="value" !="NaN">
													<h3> {{ key }}:

														<span>{{ value }} </span>
													</h3>
												</span>
                                            </span>
                                                        </span>

                                        </div>
                                        <div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">
											<span ng-if="isobj(value)== true">

                                                <span ng-if="key!='id'">
                                                    <h3>{{ key }}:</h3></span>
												<div ng-repeat="(key2,value2) in value " style="margin-left: 13%">
													<h3> {{ key2 }}:
														<span>{{ value2 }} </span>
													</h3>
												</div>

                                                <span ng-if="key=='id'">
                                <h3>ID :  <span>{{ value.id }} </span></h3>

                                 </span>
											</span>

										</div>

									</div>
								</span>
                        </div>
                    </a>

                    <a class="btn btn-primary-tab" href="/www/#!/metric{{ organization.id }}">Metrics</a>

                </div>

            </ul>


            <script>
                function hidediv(evt) {
                    var x;
                    x = document.getElementsByClassName("ng-scope")

                    for (i = 0; i < x.length; i++) {

                        var a = x[i];
                        if ((a.innerText == "" || (/^\s+$/.test(a.innerText))) && a.tagName == "DIV") {
                            a.style.display = 'none';
                        } else {
                            a.style.display = 'block'
                        }
                        ;
                    }
                }


            </script>
        </div>
    </body>
</html>