<!DOCTYPE html>
<html>

    <body>

        <div class="container-fluid" style="margin-top: 5%">

            <div style="display: flex">
                <div style="margin: 20px; text-align: center; width: 70%; margin-right: 10px;"
                     class="panel panel-default panel-body panelNoHover ">
                    <div style="display: inline-flex">
                        <input ng-model="search" class="w3-input searchtext" placeholder="Palabra por la que filtrar:"
                               required
                               ng-change="$ctrl.findOrganization(search)" onkeyup="hidediv(event)"
                               style="font-size: medium">


                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li ng-click="$ctrl.startingorganization()"><a href="">First</a></li>
                            <li ng-click="$ctrl.prevorganization()"
                                onmouseup=setTimeout(function(){hidediv(null);},50)>
                                <a href="">Prev</a></li>
                            <li class=" active"><a href="">{{ $ctrl.currentpageorganizations }}</a></li>
                            <li ng-click="$ctrl.nextorganization()"
                                onmouseup=setTimeout(function(){hidediv(null);},50)><a class="page-link"
                                                                                       href="">Next</a>
                            </li>
                            <li ng-click="$ctrl.lastorganization()"><a href="">Last</a></li>
                        </ul>

                    </nav>


                </div>
                <div style="margin: 20px" class="panel panel-default panel-body panelNoHover ">

                    <form
                    >

                        <div class="radio">
                            <label><input type="radio" value="ESP" ng-model="$ctrl.orgchange"
                                          ng-change="$ctrl.onNationChanged($ctrl.orgchange)"
                                          name="optradio">Nacional</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" checked="checked" value="EU" ng-model="$ctrl.orgchange"
                                          ng-change="$ctrl.onNationChanged($ctrl.orgchange)"
                                          name="optradio">Europeo</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" value="ALL" ng-model="$ctrl.orgchange"
                                          ng-change="$ctrl.onNationChanged($ctrl.orgchange)"
                                          name="optradio">Todos</label>
                        </div>
                    </form>


                </div>
            </div>
            <div class="project w3-animate-opacity" style="margin: 20px">

                <div ng-repeat="organization in $ctrl.organizations ">

                    <div class="metricdiv" style="display: flex;"
                         ng-mouseenter="$ctrl.onHoverMetrics(organization)">
                        <a class="metric" href="/www/#!/o{{ organization.id }}" style="display: block; width: 50%">

                                    <span ng-if="organization">
									<div class="panel panel-default panel-body ">

										<div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">

                                                        <span ng-if="key!='id'">

                                             <span ng-if="isobj(value)== false">

												<span ng-if="value" !="NaN">
													<h3> {{ key }}:

														<span>{{ value }} </span>
													</h3>
												</span>
                                            </span>
                                                        </span>

                                        </div>
                                        <div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">
											<span ng-if="isobj(value)== true">

                                                <span ng-if="key!='id'">
                                                    <h3>{{ key }}:</h3></span>
												<div ng-repeat="(key2,value2) in value " style="margin-left: 13%">
													<h3> {{ key2 }}:
														<span>{{ value2 }} </span>
													</h3>
												</div>

                                                <span ng-if="key=='id'">
                                <h3>ID :  <span>{{ value.id }} </span></h3>

                                 </span>
											</span>

										</div>

									</div>
								</span>

                        </a>

                        <div class="buttonmetric panel panel-default panel-body">
                            <a href="/www/#!/metric{{ organization.id }}" style="display: flex; width: 100%">
                                <div style="margin-right: 7%">
                                    <h5>Métricas Region: {{ $ctrl.regionName }}</h5>
                                    <p>Nº Empresas: {{ $ctrl.numeroEmpresas }}</p>
                                    <p>Nº Total de Proyectos: {{ $ctrl.numeroProyectosR }}</p>
                                    <p>Nº Medio de Proyectos: {{ $ctrl.numeroProyectosMedioR }}</p>

                                </div>
                                <hr class="style2">
                                <div style="margin-right: 7%">
                                    <h5>Metricas Organizacion: </h5>
                                    <p>Nº de Proyectos: {{ $ctrl.numeroProyectosO }}</p>

                                    <p>% subvencionado: {{ $ctrl.porcentajesubvencionadoO }}</p>


                                </div>
                                <hr class="style2">
                                <div>
                                    <h5>Mejoras relativas a la Region: </h5>
                                    <span ng-if="$ctrl.porcentajeRelativo < 1">
                                    <span style="color: red; font-size: x-large; font-weight: 600;">
                                        {{ $ctrl.porcentajeRelativo}} %
                                    </span>
                                         Subvencion relativa a la region
                                    </span>

                                    <span ng-if="$ctrl.porcentajeRelativo >= 1">
                                    <span style="color: limegreen; font-size: x-large; font-weight: 600;">
                                       + {{ $ctrl.porcentajeRelativo }} %
                                    </span>
                                         Subvencion relativa a la region
                                    </span>


                                </div>

                            </a>
                        </div>

                    </div>
                </div>

            </div>


            <script>


                function hidediv(evt) {
                    var x;
                    x = document.getElementsByClassName("ng-scope")

                    for (i = 0; i < x.length; i++) {

                        var a = x[i];
                        if ((a.innerText == "" || (/^\s+$/.test(a.innerText))) && a.tagName == "DIV") {
                            a.style.display = 'none';
                        } else {
                            a.style.display = 'block'
                        }
                        ;
                    }
                }


            </script>
        </div>
    </body>
</html>