<div class="container-fluid ">

    <ul class="project">

        <div ng-repeat="proyecto in $ctrl.projects">
     <span ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="proyectcontainer">
                <h4>{{ proyecto.tituloProyecto }}</h4>
                <div ng-repeat="(key, value) in proyecto">


                    <h3>{{ key }}</h3>
                    <h2>{{ value }}</h2>

                </div>
            </div>
          </span>
        </div>
    </ul>


</div>
