<div class="container-fluid ">

    <ul class="project">

        <div ng-repeat="proyecto in $ctrl.projects">
     <span ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="proyectcontainer">
                        <h3>TituloProyecto:  <span>{{ proyecto.tituloProyecto }} <span></h3>

                <div ng-repeat="(key, value) in proyecto |filter:Search ">
                <span ng-if="key!='_id'">
                    <span ng-if="key !='tituloProyecto'">
                        <h3>{{ key }}:  <span>{{ value }} <span></h3>

                    </span>

                </span>



                </div>
            </div>
          </span>
        </div>
    </ul>


</div>
