<div class="container-fluid" >
    <form class="form-inline">

        <div style="width: 100%">
            <div class="input-group searchcontainer" style="display: inline-flex">
                <input ng-model="search" class="w3-input searchtext" size="50" placeholder=". . .  " required
                       onkeyup="hidediv(event)">


            </div>
           <div class="input-group searchcontainer  "  style="display: inline-flex ; width: 20%;">
                <input ng-model=$ctrl.pagecounter size="50" class="w3-input searchtext" placeholder="Pág: "  style="width: 40%" ng-change="$ctrl.changepage($ctrl.pagecounter)">
               <h5>{{$ctrl.currentpage}} de {{$ctrl.countprojects }} </h5>

            </div>


            <div class="btn-group btn-group-justified" style="margin-top: 20px">
                <a href="#" class="btn btn-primary material-icons"
                   ng-click="$ctrl.prevproject()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                    keyboard_arrow_left
                </a>
                <a href="#" class="btn btn-primary material-icons"
                   ng-click="$ctrl.nextproject()" onmouseup=setTimeout(function(){hidediv(null);},50)>
                    keyboard_arrow_right</a>

            </div>

        </div>


    </form>



    <div class="project w3-animate-opacity" style="margin: 20px">

        <div ng-repeat="proyecto in $ctrl.projects  ">
              <a href="/www/p{{ proyecto._id.$oid }}" style="display: block">
            <span ng-class-odd="'odd'" ng-class-even="'even'">


 <div class="proyectcontainer">

<div ng-repeat="(key, value) in proyecto | custom:search ">
       <span ng-if="key!='_id'">

               <span ng-if="key =='tituloProyecto'">

                                     <h3>TituloProyecto:  <span>{{ proyecto.tituloProyecto }} </span></h3>


            </span>
                    <span ng-if="key !='tituloProyecto'">
                        <span ng-if="value" != "NaN">
                        <h3>{{ key }}:  <span>{{ value }} </span></h3>
                    </span>
                    </span>

                </span>

       <span ng-if="key=='_id'">
            <h3>ID :  <span>{{ value.$oid }} </span></h3>

       </span>
        </div>
 </div>

          </span>
            </a>

        </div>
    </div>


    <script>
        function hidediv(evt) {
            var x;
            x = document.getElementsByClassName("ng-scope")


            for (i = 0; i < x.length; i++) {

                var a = x[i];
                if ((a.innerText == "" || (/^\s+$/.test(a.innerText))) && a.tagName == "DIV") {
                    a.style.display = 'none';
                } else {
                    a.style.display = 'block'
                }
                ;
            }
        }
    </script>

</div>
