<form style="margin: 5%; width: 70%">


    <div class="form-group" style="display: flex">
        <div><label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" ng-model="$ctrl.pais">
                <option value="" selected> Seleccione País:</option>
                <option ng-repeat="country in $ctrl.countries" value="{{ country }}">
                    {{ country }}
                </option>
            </select>

        </div>


        <md-button ng- class="md-raised" ng-click="$ctrl.check()" style="margin-left:20% ">Recommend :
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </md-button>

    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Fecha de Inicio del proyecto (Año-Mes-Día)</label>

        <textarea id="entry" ng-model="$ctrl.startdate"
                  class="form-control"
                  required
        >
            </textarea>

    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Indique el presupuesto del proyecto (€)</label>

        <textarea id="entry" ng-model="$ctrl.presupuesto"
                  class="form-control"
                  required
        >
        </textarea>

    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Indique la cantidad de financiación que desee obtener (€)</label>

        <textarea id="entry" ng-model="$ctrl.subvencion"
                  class="form-control"
        >
        </textarea>

    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Introduzca la descripción de su proyecto (Inglés)</label>
        <textarea id="entry" ng-model="$ctrl.search" ng-keydown="$ctrl.keydown($event)"
                  class="form-control"
                  required
                  style=" height: 460px;">
        </textarea></div>


</form>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recomendación</h4>
            </div>
            <div class="modal-body">
                <p>El resultado del modelo predictivo con todos los datos es: {{ $ctrl.resultGlobal }}.</p>
                <hr class="style2">
                <p>El resultado del modelo predictivo con los datos ajustados al país {{ $ctrl.pais }} es:
                    {{ $ctrl.resultSubPres }}.</p>
                <img src="/static/images/foo.png" class="img-thumbnail">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>