<!DOCTYPE html>
<html>

    <body>

        <div class="container-fluid" style="margin-top: 5%; margin-left: inherit">


            <ul class="nav nav-tabs">
                <span ng-if="$ctrl.Calls.length>0">
                <li class="nav-item">
                    <a class="nav-link " onclick="openTab(event, 'calls')">Convocatoria
                        </a>
                </li>
                </span>
                <span ng-if="$ctrl.Proyecto.length>0">

                <li class="nav-item">
                    <a class="nav-link active" onclick="openTab(event, 'projects')">Proyectos</a>
                </li>
                                </span>
                <span ng-if="$ctrl.Orgs.length>0">

                <li class="nav-item">
                    <a class="nav-link" onclick="openTab(event, 'orgs')">Organizaciones</a>
                </li>
                                </span>
            </ul>

            <div class="tab-content">

                <div id="calls" class="tabcontent tab-pane">


                    <div class="card  card-body cardNoHover" ng-repeat="calls in $ctrl.Calls " style="padding: 3%">
                        <a href="/www/#!/c{{ calls.id }}" style="display: block">

                            <div ng-repeat="(keycall,valuecall) in calls  | custom:$ctrl.textsearch">


                                <h3>{{ keycall }}: <span>{{ valuecall }} </span></h3>


                            </div>


                        </a>
                    </div>

                </div>

                <div id="projects" class="tabcontent tab-pane active">


                    <div class="card  card-body cardNoHover" style="padding: 3%"
                         ng-repeat="proyecto in $ctrl.Proyecto   ">
                        <a href="/www/#!/p{{ proyecto.id }}" style="display: block">

                            <div ng-repeat="(key, value) in proyecto | custom:$ctrl.textsearch"
                            >


                                         <span ng-if="value !='NaN'">
                                             <h3>{{ key }}:  <span>{{ value }} </span></h3>
                                        </span>


                            </div>

                        </a>
                    </div>
                </div>

                <div id="orgs" class="tabcontent tab-pane">


                    <div class="card  card-body cardNoHover" ng-repeat="organization in $ctrl.Orgs"
                         style="display: flex ; padding: 3%">


                        <div class="metricdiv" style="display: flex;"
                             ng-mouseenter="$ctrl.onHoverMetrics(organization)">
                            <a class="metric" href="/www/#!/o{{ organization.id }}" style="display: block; width: 50%">

                                    <span ng-if="organization">
									<div>

										<div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">

                                                        <span ng-if="key!='id'">

                                             <span ng-if="isobj(value)== false">

												<span ng-if="value" !="NaN">
													<h3> {{ key }}:

														<span>{{ value }} </span>
													</h3>
												</span>
                                            </span>
                                                        </span>

                                        </div>
                                        <div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">
											<span ng-if="isobj(value)== true">

                                                <span ng-if="key!='id'">
                                                    <h3>{{ key }}:</h3></span>
												<div ng-repeat="(key2,value2) in value " style="margin-left: 13%">
													<h3> {{ key2 }}:
														<span>{{ value2 }} </span>
													</h3>
												</div>

                                                <span ng-if="key=='id'">
                                <h3>ID :  <span>{{ value.id }} </span></h3>

                                 </span>
											</span>

										</div>

									</div>
								</span>

                            </a>
                            <span ng-if="organization.direccion.pais!='PAIS'">
                            <span ng-if="organization.direccion.pais!=''">

                        <div class="buttonmetric ">
                            <a href="/www/#!/metric{{ organization.id }}" style="display: flex; width: 100%">
                                <div style="margin-right: 7%">
                                    <h5>Métricas Region: {{ $ctrl.regionName }}</h5>
                                    <p>Nº Empresas: {{ $ctrl.numeroEmpresas }}</p>
                                    <p>Nº Total de Proyectos: {{ $ctrl.numeroProyectosR }}</p>
                                    <p>Nº Medio de Proyectos: {{ $ctrl.numeroProyectosMedioR }}</p>

                                </div>
                                <hr class="style2">
                                <div style="margin-right: 7%">
                                    <h5>Metricas Organizacion: </h5>
                                    <p>Nº de Proyectos: {{ $ctrl.numeroProyectosO }}</p>

                                    <p>% subvencionado: {{ $ctrl.porcentajesubvencionadoO }}</p>


                                </div>
                                <hr class="style2">
                                <div>
                                    <h5>Mejoras relativas a la Region: </h5>
                                    <span ng-if="$ctrl.porcentajeRelativo < 1">
                                    <span style="color: red; font-size: x-large; font-weight: 600;">
                                        {{ $ctrl.porcentajeRelativo}} %
                                    </span>
                                         Subvencion relativa a la region
                                    </span>

                                    <span ng-if="$ctrl.porcentajeRelativo >= 1">
                                    <span style="color: limegreen; font-size: x-large; font-weight: 600;">
                                       + {{ $ctrl.porcentajeRelativo }} %
                                    </span>
                                         Subvencion relativa a la region
                                    </span>


                                </div>

                            </a>
                        </div>
                            </span>
                        </span>

                        </div>


                    </div>


                </div>
            </div>
        </div>
    </body>
</html>
<script>
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("nav-link");
        debugger;
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace("active", "");
            debugger;
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>