<div class="container-fluid" style="margin-top: 3%; margin-left: inherit">


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" onclick="openTab(event, 'simple')">Búsqueda
                Simple</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="openTab(event, 'referenciada')">Búsqueda Referenciada</a>
        </li>

    </ul>


    <div class="tab-content">

        <div id="simple" class="tabcontent tab-pane active">
            <div class="card  card-body cardNoHover"
                 style="display: inline-flex ;  padding: 3%; width: 100%">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" ng-model="$ctrl.textsearch" placeholder="Search: "
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">

                        <select style="width: 35%; margin-right: 2%;margin-left: 5%" class="custom-select"
                                ng-model=$ctrl.selectsearch>
                            <option value="" selected> Buscar:</option>

                            <optgroup label="Proyectos">
                                <option value="p?tituloProyecto=">Título Proyecto</option>
                                <option value="p?estado=">Estado</option>
                                <option value="p?presupuestoAceptado=">Presupuesto Aceptado</option>
                                <option value="p?subvencion=">Subvencion</option>

                            </optgroup>
                            <optgroup label="Convocatorias">
                                <option value="c?tituloConvocatoria=">Titulo Convocatoria</option>
                                <option value="c?fechaFinPresentacion=">Fecha Fin Presentación (TODO)</option>
                                <option value="c?presupuesto=">Presupuesto</option>
                            </optgroup>


                            <optgroup label="Organización">
                                <option value="o?nombre=">Nombre</option>
                                <option value="o?sector__0=">Sector</option>
                                <option value="o?direccion__calle=">Calle</option>
                                <option value="o?direccion__cp=">Cp</option>
                                <option value="o?direccion__ciudad=">Ciudad</option>
                                <option value="o?direccion__pais=">Pais</option>
                                <option value="o?direccion__european=">European</option>

                            </optgroup>

                        </select>
                        <select style="width: 35%; margin-right: 2%" class="custom-select" ng-model=$ctrl.modeofsearch>
                            <option value="" selected> Modo de Búsqueda</option>

                            <option value="iexact">Exactamente</option>
                            <option value="icontains">Contiene</option>
                            <option value="istartswith">Empieza</option>
                            <option value="iendswith">Acaba</option>


                        </select>

                        <button type="button" ng-click="$ctrl.tofind()" class="btn btn-outline-secondary"> Search: <span
                                class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>

                    <div ng-if="$ctrl.relatedCollection && $ctrl.datasearch.length > 1">
                        <h5 s> Resultados: <span
                                class="badge badge-success">{{$ctrl.countsearch*10}} </span></h5>
                    </div>
                    <div ng-if="$ctrl.relatedCollection && $ctrl.datasearch.length <= 1">
                        <h5> Resultados: <span
                                class="badge badge-danger"> 0 </span></h5>
                    </div>
                </div>


            </div>


        </div>
        <div id="referenciada" class="tabcontent tab-pane ">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>

    </div>
    <div ng-if="$ctrl.relatedCollection && $ctrl.datasearch.length > 1">

        <div style="margin-top: 2% ; margin-bottom: 2%" class=" card  card-body cardNoHover">

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" ng-click="$ctrl.startingsearch()"><a class="page-link" href="">First</a></li>
                    <li class="page-item" ng-click="$ctrl.prevsearch()"
                        onmouseup=setTimeout(function(){hidediv(null);},50)>
                        <a class="page-link" href="">Prev</a></li>
                    <li class="page-item active"><a class="page-link" href="">{{ $ctrl.currentpagesearch }} /
                        {{ $ctrl.countsearch }}</a>
                    </li>
                    <li class="page-item" ng-click="$ctrl.nextsearch()"
                        onmouseup=setTimeout(function(){hidediv(null);},50)><a class="page-link" href="">Next</a></li>
                    <li class="page-item" ng-click="$ctrl.lastsearch()"><a class="page-link" href="">Last</a></li>
                </ul>
            </nav>


        </div>

        <div ng-if="$ctrl.relatedCollection =='project'">

            <div ng-repeat="proyecto in $ctrl.datasearch  ">


                <div class="card  card-body" style="display: flow-root; margin-bottom: 10px">

                    <div ng-click="$ctrl.editProject(proyecto.id)" class="edit">
                        <i class="fa fa-pencil fa-lg"></i></div>

                    <a href="/www/#!/p{{ proyecto.id }}" style="display: block; width: 75%">


                        <div ng-repeat="(key, value) in proyecto ">

               <span ng-if="key =='tituloProyecto'">

                                     <h3>TituloProyecto:  <span>{{ proyecto.tituloProyecto }} </span></h3>


            </span>
                            <span ng-if="key !='tituloProyecto'">
                        <span ng-if="value" !="NaN">
                        <h3>{{ key }}:  <span>{{ value }} </span></h3>
                    </span>
                    </span>


                        </div>
                    </a>

                </div>

            </div>
        </div>

        <div ng-if="$ctrl.relatedCollection =='call'">
            <div ng-repeat="call in $ctrl.datasearch  ">
                <div class="card  card-body">

                    <div ng-click="$ctrl.editCall(call.id)" class="edit">
                        <i class="fa fa-pencil fa-lg"></i></div>

                    <a href="/www/#!/c{{ call.id }}" style="display: block; width: 75%">


                        <div ng-repeat="(key, value) in call ">


                            <h3>{{ key }}: <span>{{ value }} </span></h3>


                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div ng-if="$ctrl.relatedCollection =='organization'">
            <div ng-repeat="organization in $ctrl.datasearch  ">
                <div class="metricdiv" style="display: flex;"
                     ng-mouseenter="$ctrl.onHoverMetrics(organization)">
                    <a class="metric" href="/www/#!/o{{ organization.id }}" style="display: block; width: 50%">

                                    <span ng-if="organization">
									<div class="card  card-body ">

										<div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">

                                                        <span ng-if="key!='id'">

                                             <span ng-if="isobj(value)== false">

												<span ng-if="value" !="NaN">
													<h3> {{ key }}:

														<span>{{ value }} </span>
													</h3>
												</span>
                                            </span>
                                                        </span>

                                        </div>
                                        <div ng-repeat="(key, value) in organization | custom:search "
                                             ng-controller="Ctrl">
											<span ng-if="isobj(value)== true">

                                                <span ng-if="key!='id'">
                                                    <h3>{{ key }}:</h3></span>
												<div ng-repeat="(key2,value2) in value " style="margin-left: 13%">
													<h3> {{ key2 }}:
														<span>{{ value2 }} </span>
													</h3>
												</div>

                                                <span ng-if="key=='id'">
                                <h3>ID :  <span>{{ value.id }} </span></h3>

                                 </span>
											</span>

										</div>

									</div>
								</span>

                    </a>

                    <div class="buttonmetric card  card-body">
                        <a href="/www/#!/metric{{ organization.id }}" style="display: flex; width: 100%">
                            <div style="margin-right: 7%">
                                <h5>Métricas Region: {{ $ctrl.regionName }}</h5>
                                <p>Nº Empresas: {{ $ctrl.numeroEmpresas }}</p>
                                <p>Nº Total de Proyectos: {{ $ctrl.numeroProyectosR }}</p>
                                <p>Nº Medio de Proyectos: {{ $ctrl.numeroProyectosMedioR }}</p>

                            </div>
                            <hr class="style2">
                            <div style="margin-right: 7%">
                                <h5>Metricas Organizacion: </h5>
                                <p>Nº de Proyectos: {{ $ctrl.numeroProyectosO }}</p>

                                <p>% subvencionado: {{ $ctrl.porcentajesubvencionadoO }}</p>


                            </div>
                            <hr class="style2">
                            <div>
                                <h5>Mejoras relativas a la Region: </h5>
                                <span ng-if="$ctrl.porcentajeRelativo < 1">
                                    <span style="color: red; font-size: x-large; font-weight: 600;">
                                        {{ $ctrl.porcentajeRelativo}} %
                                    </span>
                                         Subvencion relativa a la region
                                    </span>

                                <span ng-if="$ctrl.porcentajeRelativo >= 1">
                                    <span style="color: limegreen; font-size: x-large; font-weight: 600;">
                                       + {{ $ctrl.porcentajeRelativo }} %
                                    </span>
                                         Subvencion relativa a la region
                                    </span>


                            </div>

                        </a>
                    </div>

                </div>


            </div>
        </div>


    </div>


    <script>


        function hidediv(evt) {
            var x;
            x = document.getElementsByClassName("ng-scope")

            for (i = 0; i < x.length; i++) {

                var a = x[i];
                if ((a.innerText == "" || (/^\s+$/.test(a.innerText))) && a.tagName == "DIV") {
                    a.style.display = 'none';
                } else {
                    a.style.display = 'block'
                }
                ;
            }
        }


    </script>
</div>


</div>

<script>
    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>