<!DOCTYPE html>
<html>

    <div class="container-fluid" style="margin-top: 5%; margin-left: inherit; display: inline;">
        <span ng-if=" $ctrl.warning">
            <span ng-if="$ctrl.warning.indexOf('ERROR')!=-1">
               <div class="alert alert-warning">
                   <strong>WARNING: </strong> Error en el Post, revise elementos duplicados y/o el estado del servidor.
                </div>
             </span>
            <span ng-if="$ctrl.warning.indexOf('ERROR')==-1">
              <div class="alert alert-success">
                    <strong>Success!</strong> Post realizado con éxito.
              </div>
             </span>
        </span>

        <div class="input-group searchcontainer  " style="display: inline-block ; width: 100%;margin-bottom: 5%">


            <select class="selectfontsize" ng-model="$ctrl.selectedtransform"
                    ng-options="key for (key,value) in $ctrl.transforms "
                    ng-change="$ctrl.getMapperList(); $ctrl.getMapperOptions()">
                <option value="" selected>--Select a Mapper--</option>

            </select>
            <button type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.LoadMapper(); $ctrl.setWarningSch()">
                LoadMapper
            </button>

            <button type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.LaunchMapping();setWarningSch()">
                Launch Mapping
            </button>

        </div>

        <div ng-if=" $ctrl.selectedtransform.length>0 || $ctrl.selectedtransform.indexOf('mapper')!=-1"
             style="width: flex">

            <div id="as" class="project w3-animate-opacity" style="margin-bottom: 5%; display: inline">
                <div ng-repeat="mapper in $ctrl.MapperList  ">

                    <div class="proyectcontainer " style="width:fit-content">
                        <a class="btn btn-sch" ng-click="$ctrl.deletekey(mapper.id)">
                        <div ng-repeat="(key, value) in mapper">



                            <h3>{{ key }}: <span>{{ value }} </span></h3>

                        </div>
                        </a>

                    </div>

                </div>


            </div>

            <div ng-repeat="option in $ctrl.databkeys">

                <div class="input-group  " style="display: inline-block; height: auto" ng-if="option.indexOf('id')==-1">
                    <div class="input-group" style="height: 20%; width: 250px"
                         ng-if="$ctrl.nestedkey.indexOf(option)==-1">
                        <input ng-model="$ctrl.MapperOptions[option]" ng-model-options="{ updateOn: 'blur' }"
                               class="form-control searchtext"
                               style="height: 100%; width: inherit">
                        <span class="input-group-addon uppercase">{{ option }}</span>
                    </div>
                    <div class="input-group" style="height: 20%; width: 250px" ng-repeat="nest in $ctrl.nesteditems"
                         ng-if="$ctrl.nestedkey.indexOf(option)!=-1">
                        <input ng-model="$ctrl.MapperOptions[option][nest]" ng-model-options="{ updateOn: 'blur' }"
                               class="form-control searchtext"
                               style="height: 100%; ; width: inherit">
                        <span class="input-group-addon uppercase">{{ option }} : {{ nest }}</span>
                    </div>


                </div>

            </div>
        </div>



    </div>
    </body>
</html>