



<!DOCTYPE html>
<html lang="en" ng-app="innhomeweb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/innhome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-dark-grey.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="/static/js/index-scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"

            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<link rel="icon" href="/static/images/icon.png" type="image/png">


    <script src="/static/js/angular.js"></script>



</head>

    <body class="w3-theme">

<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2 w3-theme-d4" style="z-index:3;width:250px; " id="mySidebar">
  <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="/www/"><img src="/static/images/bisite-usal-es.png" style="width:80%;"></a>
  <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>



</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-container w3-top w3-theme-d4 w3-large">
  <p><i class="fa fa-bars w3-button w3-theme-d3 w3-hide-large w3-xlarge" onclick="w3_open()" style="font-size: 31px"></i>
  <span id="myIntro" class="w3-hide">Innhome </span></p>
</div>


<header class=" w3-theme-d4 w3-centered" style="padding:64px 320px">
<img src="/static/images/innhome.png">
</header>

<div id="sitemain" class="w3-container tab w3-animate-opacity w3-theme-l5" style="display:block">

        <h1>Site administration</h1>

<div id="content-main">




        <div class="app-django_celery_beat module">
        <table style="width: 100%;">
        <caption>
            <a href="/admin/django_celery_beat/" class="section" title="Models in the Django_Celery_Beat application">Django_Celery_Beat</a>
        </caption>

            <tr class="model-crontabschedule">

                <th scope="row"><a href="/admin/django_celery_beat/crontabschedule/">Crontabs</a></th>



                <td><a href="/admin/django_celery_beat/crontabschedule/add/" class="addlink">Add</a></td>



                <td><a href="/admin/django_celery_beat/crontabschedule/" class="changelink">Change</a></td>

            </tr>

            <tr class="model-intervalschedule">

                <th scope="row"><a href="/admin/django_celery_beat/intervalschedule/">Intervals</a></th>



                <td><a href="/admin/django_celery_beat/intervalschedule/add/" class="addlink">Add</a></td>



                <td><a href="/admin/django_celery_beat/intervalschedule/" class="changelink">Change</a></td>

            </tr>

            <tr class="model-periodictask">

                <th scope="row"><a href="/admin/django_celery_beat/periodictask/">Periodic tasks</a></th>



                <td><a href="/admin/django_celery_beat/periodictask/add/" class="addlink">Add</a></td>



                <td><a href="/admin/django_celery_beat/periodictask/" class="changelink">Change</a></td>

            </tr>

        </table>
        </div>


</div>


<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Recent actions</h2>
        <h3>My actions</h3>



            <ul class="actionlist">

            <li class="deletelink">

                    * * * * * (m/h/d/dM/MY)

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="deletelink">

                    * * * * * (m/h/d/dM/MY)

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="deletelink">

                    * * * * * (m/h/d/dM/MY)

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="deletelink">

                    * * * * * (m/h/d/dM/MY)

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="addlink">

                    <a href="/admin/django_celery_beat/crontabschedule/10/change/">* * * * * (m/h/d/dM/MY)</a>

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="addlink">

                    <a href="/admin/django_celery_beat/crontabschedule/9/change/">* * * * * (m/h/d/dM/MY)</a>

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="addlink">

                    <a href="/admin/django_celery_beat/crontabschedule/8/change/">* * * * * (m/h/d/dM/MY)</a>

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="deletelink">

                    * * * * * (m/h/d/dM/MY)

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="addlink">

                    <a href="/admin/django_celery_beat/crontabschedule/7/change/">* * * * * (m/h/d/dM/MY)</a>

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            <li class="addlink">

                    <a href="/admin/django_celery_beat/crontabschedule/6/change/">* * * * * (m/h/d/dM/MY)</a>

                <br/>

                    <span class="mini quiet">Crontab</span>

            </li>

            </ul>

    </div>
</div>
        </div>

<div ng-include src="'/static/templates/addcrontab.html'"></div>




</div>




<footer class="w3-container w3-theme-d3" style="padding:32px 320px">
<img alt="Bisite Research Group" src="http://bisite.usal.es/archivos/favicon_2.png" width="42" height="42">
  Bisite Research Group
© Copyright 2016 by Bisite Research Group
</footer>

</div>

<script>
  window.onscroll = function() {myFunction()};
function myFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
        document.getElementById("myIntro").classList.add("w3-show-inline-block");
    }


}


</script>

</body>
</html>