<!DOCTYPE html>
<html lang="en" ng-app="innhomeweb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/css/innhome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-dark-grey.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="/static/js/index-scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"

            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<link rel="icon" href="/static/images/icon.png" type="image/png">

    <script src="/static/js/angular.js"></script>
    <script src="/static/js/app.module.js"></script>

    <script src="/static/js/project-list/project-list.module.js"></script>
    <script src="/static/js/project-list/project-list.component.js"></script>

     <script src="/static/js/organization-list/organization-list.module.js"></script>
    <script src="/static/js/organization-list/organization-list.component.js"></script>

    <script src="/static/js/call-list/call-list.module.js"></script>
    <script src="/static/js/call-list/call-list.component.js"></script>

</head>

    <body class="w3-theme">

<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2 w3-theme-d4" style="z-index:3;width:250px; " id="mySidebar">
  <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="#"><img src="/static/images/bisite-usal-es.png" style="width:80%;"></a>
  <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>

</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-container w3-top w3-theme-d4 w3-large">
  <p><i class="fa fa-bars w3-button w3-theme-d3 w3-hide-large w3-xlarge" onclick="w3_open()"></i>
  <span id="myIntro" class="w3-hide">Innhome </span></p>
</div>


<header class=" w3-theme-d4 w3-centered" style="padding:64px 320px">
<img src="/static/images/innhome.png">
</header>





<footer class="w3-container w3-theme-d3" style="padding:32px 320px">
<img alt="Bisite Research Group" src="http://bisite.usal.es/archivos/favicon_2.png" width="42" height="42">
  Bisite Research Group
© Copyright 2016 by Bisite Research Group
</footer>

</div>



</body>
</html>