<html lang="en" ng-app="innhomeweb">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-dark-grey.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="/static/js/index-scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"

                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">


        <link rel="icon" href="/static/images/icon.png" type="image/png">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js"></script>

        <!--MATERIAL DESIGN-->
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-->

        <!-- CHARTS LIBS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.js"></script>
        <!-->



        <script src="/static/js/project-list/project-list.module.js"></script>
        <script src="/static/js/project-list/project-list.component.js"></script>

        <script src="/static/js/organization-list/organization-list.module.js"></script>
        <script src="/static/js/organization-list/organization-list.component.js"></script>

        <script src="/static/js/call-list/call-list.module.js"></script>
        <script src="/static/js/call-list/call-list.component.js"></script>

        <script src="/static/js/transform-module/transform-module.module.js"></script>
        <script src="/static/js/transform-module/transform-module.component.js"></script>


        <script src="/static/js/search-list/search-list.module.js"></script>
        <script src="/static/js/search-list/search-list.component.js"></script>

        <script src="/static/js/admin-module/admin-module.module.js"></script>
        <script src="/static/js/admin-module/admin-module.component.js"></script>

        <script src="/static/js/metric-module/metric-module.module.js"></script>
        <script src="/static/js/metric-module/metric-module.component.js"></script>


        <link href="/static/css/innhome.css" rel="stylesheet">
        <script src="/static/js/app.module.js"></script>
        <!-- MAPS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="/static/js/datamaps/angular-datamaps.js"></script>
        <script src="/static/js/datamaps/datamaps.all.js"></script>


        <!-->

    </head>

    <body class="w3-theme ">

        <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2 w3-theme-d4  w3-bar-block "
             style="z-index:3;width:250px; " id="mySidebar">
            <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="/www/">
                <img src="/static/images/innhome.png" style="width: 80%;padding-bottom: 30px;">
                <img src="/static/images/bisite-usal-es.png" style="width: 80%;padding-bottom: 30px;"></a>
            <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close
                <i class="fa fa-remove"></i></a>

            <div class="w3-sidebar w3-bar-block w3-card-2 w3-theme-d4  w3-bar-block"
                 style="width: inherit; height: auto;">
                <div class="w3-bar-item w3-button" onclick="myAccFunc()">
                    Data <i class="fa fa-caret-down"></i></div>
                <div id="demoAcc" class="w3-hide w3-theme w3-card-4">
                    <a class="w3-bar-item tablink w3-button  " id="Projects" href="#!project"
                       onclick="tabbarColor('Projects')">Projects</a>
                    <a class="w3-bar-item tablink w3-button" id="Calls" href="#!call" onclick="tabbarColor('Calls')">Calls</a>
                    <a class="w3-bar-item tablink w3-button" id="Organizations" href="#!organization"
                       onclick="tabbarColor('Organizations')">Organizations</a>

                </div>
                <a class="w3-bar-item tablink w3-button" id="Transform" href="#!transform"
                   onclick="tabbarColor('Transform')">Transform</a>
                <a class="w3-bar-item tablink w3-button" id="Search" href="/www/#!search"
                   onclick="tabbarColor('Search')">Search</a>
                <a class="w3-bar-item tablink w3-button" id="Admin" href="#!admin"
                   onclick="tabbarColor('Admin')">Admin</a>
                <a class="w3-bar-item tablink w3-button" id="Metrics" href="#!metric" onclick="tabbarColor('Metrics')">Metrics</a>

            </div>

            <footer class="footer w3-theme-d3" style="padding: 30px">
                <img alt="Bisite Research Group" src="http://bisite.usal.es/archivos/favicon_2.png" width="42"
                     height="42">
                <br/>
                Bisite Research Group
                © Copyright 2016 by Bisite Research Group
            </footer>
        </nav>

        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
             id="myOverlay"></div>

        <div class="w3-main" style="margin-left:250px;">

            <div id="myTop" class="w3-container w3-top w3-theme-d4 w3-large">
                <p><i class="fa fa-bars w3-button w3-theme-d3 w3-hide-large w3-xlarge" onclick="w3_open()"
                      style="font-size: 31px">

                </i>

            </div>

            <div id="mainView" class="w3-container tab w3-animate-opacity w3-theme-l5">
                <ng-view></ng-view>
            </div>

            </div>





        <script>
            window.onscroll = function () {
                myFunction()
            };

            function myFunction() {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
                } else {
                    document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
                }
            }

            function tabbarColor(id) {

                var i;
                var x = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    x[i].style.background = 'none';
                    x[i].style.color = '#ffffff';

                }
                document.getElementById(id).style.background = '#ccc';
                document.getElementById(id).style.color = '#000000';


            }



        </script>

    </body>
</html>