 .jumbotron {
      background-color: #c62540;
      color: #fff;
      padding: 10px 25px;
      font-family: "roboto" !important;
     font-weight: 600;!important;
  }
.bg-bisite{
    color: #c62540;
}
  .bg-grey {
    background-color: #f6f6f6;
}
  .proyectcontainer {
      padding: 20px 20px;
      background-color: #f6f6f6;
      border-style: solid;
      border-color: #c62540;
      border-width: 1px;
      border-radius: 12px;
      margin-top: 20px;

  }



  h1{
      font-family: roboto;
  }

 h3{
        font-family: "roboto" !important;
        font-weight: 300 !important;
    }
 span{
      font-family: "roboto" !important;
        font-weight: 600;!important;
 }

h4{
        font-family: "roboto" !important;
        font-weight: 400 !important;
    }


  .odd .proyectcontainer{
      background-color: white;
  }

  .even .proyectcontainer{
      background-color: #f6f6f6;
  }