
h3 {
    word-wrap: break-word;
    font-size: 15px;
    text-transform: uppercase;
    white-space: normal;
!important;
!important;
    font-family: roboto;
!important;
    font-weight: 400;
!important;
    margin: 10px 0;
!important;
}

h2 {
    font-size: 17px;
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;

}

* {
    font-family: roboto;
!important;
    font-weight: 200;
!important;
    font-size: 13px;
}

a {
    width: 50%;
    border-radius: 0px;

}

a:focus {
    text-decoration: none;
}

a:hover {
    background-color: rgba(175, 175, 175, 0.22)
}

.metricdiv:hover .buttonmetric {
    opacity: 1;

}

.buttonmetric {
    text-align: center;
    border: 1px solid #c62540;
    border-radius: 12px;
    padding: 1px 10px;
    margin-left: 12px;
    opacity: 0;
    transition: opacity .5s ease;
}

.buttonmetric a {

}

.md-content.md-default-theme, md-content {
    background-color: inherit;
!important;
}

.w3-button:hover {
    border-radius: 0px;
}

.w3-input {
    background-color: transparent;
    border-color: #f6f6f6;
}

.bg-bisite {
    color: #c62540;
}

.bg-grey {
    background-color: #f6f6f6;
}

.proyectcontainer {
    padding: 1px 10px;
    border: 1px solid #c62540;
    border-radius: 12px;
    margin-top: 5px;

}

.tablink:hover {
    text-decoration: none;
    color: black;
}

.tablink:focus {
    color: white;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:focus {
    color: white;
}

.selectfontsize {
    font-size: large;
!important;
}

.btn-sch:hover {

    color: #c62540;

}

.btn-sch:hover:after {
    content: "BORRAR";

}

.searchcontainer {
    padding: 5px 2px;

    border-bottom-style: solid;
    border-color: #c62540;
    border-width: 1px;
    border-radius: 6px;
    width: 35%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
    margin: 10px;
!important;
    border-color: #c62540;
!important;
    background-color: transparent;
!important;
    color: black;
!important;

}

.btn-primary-tab {
    margin: 10px;
!important;
    border-color: #c62540;
!important;
    background-color: transparent;
!important;
    color: black;
!important;

}

.btn-primary-tab:hover, .btn-primary-tab:active, .btn-primary-tab:focus {
    background-color: rgba(175, 175, 175, 0.22) !important;
    box-shadow: 0 2px 4px 0 #17599D, 0 3px 10px 0 white;
!important;

}

.red {
    background-color: red;
}

.green {
    color: limegreen;
}

hr.style2 {
    border-top: 1px solid #c62540;
}

hr.style1 {
    border-top: 3px double #c62540;
}

.tablink:focus, .tablink:hover {
    text-decoration: none;
}

.organizationstyle {
    text-indent: 20px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: black !important;
    background-color: transparent !important;
    border-color: #B4213B !important;
}

.material-icons {
    font-size: 45px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
!important;

}

.loader {
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 20%;
    margin-left: 30%;

    width: 100px;
    height: 100px;
    border: 7px solid rgba(180, 33, 59, 0.10);
    border-top: 7px solid rgba(180, 33, 59, 0.80);

}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.searchcontainer .btn-group .page-counter {
    display: inline;
}

.searchtext {
    display: inline;
    outline: none;
    font-size: medium;
!important;
    text-align: center;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 1s;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.md-primary {
    margin-left: 15px;

}

.nodeinfo {

    height: fit-content;
    border-radius: 0px;
    border-style: solid;
    margin-bot: 3%;
    border-color: transparent;

}

resizable-input {
    /* make resizable */
    overflow-x: hidden;
    resize: both;
    display: inline-block;
    background: #B4213B;
    /* no extra spaces */
    padding: 0;
    margin: 0;
    white-space: nowrap;

    /* default widths */
    width: 10em;
    min-width: 2em;
    max-width: 30em;
}

/* let <input> assume the size of the wrapper */
.resizable-input > input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

/* add a visible handle */
.resizable-input > span {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -16px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAJUlEQVR4AcXJRwEAIBAAIPuXxgiOW3xZYzi1Q3Nqh+bUDk1yD9sQaUG/4ehuEAAAAABJRU5ErkJggg==");
    cursor: ew-resize;
}

.clickblue {
    border: 2px solid rgba(23, 89, 157, 0.69);
    border-radius: 1px;

}

.clickbrown {
    border: 2px solid rgba(139, 69, 19, 0.69);
    border-radius: 1px;

}