<button class="btn" data-toggle="modal" data-target="#mapperEditModal">
    Editar
</button>

<!-- Modal -->
<div class="modal fade" id="mapperEditModal" tabindex="-1" role="dialog" aria-labelledby="mapperEditModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mapper</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group row" ng-repeat="(k, v) in vm.data">
                        <label class="col-sm-4">{{ k }} </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" ng-model="v">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>